@import "reset.css";

:root{
    --background-color: #ffffff;
    --default-text-color: #022036;
    --highlight-text-color: #e59115;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 1.15%;
    color: var(--default-text-color);
}

a {
    font-style: normal;
    text-decoration: none;
    color: var(--default-text-color);
}

ul {
    list-style: none;
}

.highlight {
    color: var(--highlight-text-color);
    font-weight: bold;
    font-size: 1.015em;
}

#nav {
    padding: 0.5em 0 0 1.1em;
    margin: 1rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

img#logo {
    width: 65%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    font-size: 1.25em;
}

.menu div:first-child {
    margin-right: 6rem;
}

#intro {
    padding: 1rem 0;
    font-size: 1.05em;
    text-align: center;
}

#benefits {
    background-color: var(--default-text-color);
    color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px var(--default-text-color),
    1px 2px 1px 1px var(--default-text-color); 
    padding: 1% 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

#benefits h2 {
    font-weight: 600;
    font-size: 1.5em;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

#benefits .list li {
    width: fit-content;
}

.title {
    font-weight: 600;
    font-size: 1.35em;
}

.about {
    font-size: 1.1em;
}

.campus-image{
    width: 50%;
    height: 45%;
    border-radius: 15%;
    box-shadow: 0 5px 12px 1px var(--default-text-color);
    margin: 1% 0;
}

#campus .title, #campus .about {
    text-align: center;
}

#campus .about {
    padding: 0 1.4rem;
}

#campus .list {
    display: block;
    text-align: center;
}

.availabe-cursos {
    font-size: 1.25em;
    margin-bottom: 2%;
}

.cursos-list {
    padding: 0 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    column-count: 2;
    margin-bottom: 1.5%;
}

.cursos-list li {
    display: grid;
    padding: 0 0px;
    text-align: center;
    width: 25%;
}


.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered img {
    object-fit: contain;
    padding: 12px 0;
    width: 128px;
    height: 128px;
    box-shadow: 0 5px 10px 0px #021f343d;
    border-radius: 25%;
    text-align: center;
    vertical-align: bottom;
}

.centered img:hover{
    box-shadow: inset 0 5px 10px 0px #021f343d;
    cursor: pointer;
}

.curso-name {
    text-align: center;
    align-self: center;
    width: 100%;
}