@import "reset.css";

:root {
    --background-color: #ffffff;
    --default-text-color: #022036;
    --highlight-text-color: #e59115;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 1.15%;
    color: var(--default-text-color);
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
}

a {
    font-style: normal;
    text-decoration: none;
    color: var(--default-text-color);
}

ul {
    list-style: none;
}

.highlight {
    color: var(--highlight-text-color);
    font-weight: bold;
    font-size: 1.015em;
}

#nav {
    padding: 0.5em 0 0 1.1em;
    margin: 1rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

img#logo {
    width: fit-content;
    height: fit-content;
}

.menu {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    font-size: 1.25em;
}

.menu div:first-child {
    margin-right: 6rem;
}

#intro {
    padding: 1rem 0;
    font-size: 1.05em;
    text-align: center;
}

#benefits {
    background-color: var(--default-text-color);
    color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px var(--default-text-color),
    1px 2px 1px 1px var(--default-text-color); 
    padding: 1% 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

#benefits h2 {
    font-weight: 600;
    font-size: 1.5em;
}

#benefits .list li{
    padding-left: 15%;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-weight: 600;
    font-size: 1.35em;
}

.about {
    font-size: 1.1em;
}

#campus > .title {
    margin: 1.25rem 0 0.25rem;
}

.campus-image{
    border-radius: 15%;
    box-shadow: 0 5px 12px 1px var(--default-text-color);
    margin: 1% 0;
}

#campus .title, #campus .about {
    text-align: center;
}

#campus .about {
    padding: 0 1.4rem;
}

#campus .list {
    display: block;
    text-align: center;
}

#cornelio, #jacarezinho, #luiz-meneghel {
    margin-top: 1.25rem;
}

.availabe-cursos {
    font-size: 1.25em;
    margin-bottom: 2%;
}

.cursos-list {
    padding: 0 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    margin-bottom: 1.5%;
}

.cursos-list li {
    display: grid;
    padding: 0 0px;
    text-align: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered img {
    object-fit: contain;
    padding: 12px 0;
    box-shadow: 0 5px 10px 0px #021f343d;
    border-radius: 25%;
    text-align: center;
    vertical-align: bottom;
}

.centered img:hover{
    box-shadow: inset 0 5px 10px 0px #021f343d;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    body {
        margin: 0 !important;
    }

    #intro {
        font-size: 0.5em;
    }

    #intro h1 {
        font-size: 1.5em;
    }

    img#logo {
        width: 100% !important;
        height: 100% !important;
    }

    #nav {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: fit-content;
    }

    .nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 50%;
    }

    .menu {
        display: block;
        align-self: center;
        text-align: center;
        font-size: 1.35em;
    }

    .menu div:first-child {
        margin-right: 0;
    }

    .centered img {
        padding: 12px 0;
        width: 64px;
        height: 64px;
    }

    #intro {
        padding: 1rem 0;
        font-size: 1em;
        text-align: center;
    }

    #benefits {
        margin: 0 2.5%;
    }

    #benefits h2 {
        font-size: 1.2em;
        text-align: center;
    }

    #benefits .list {
        display: block;
        font-size: 0.85em;
    }

    #benefits .list li{
        padding: 0 0 5%;
    }

    #benefits .list:first-child{
        padding: 2.5% 0 5%;
    }

    .campus-image {
        width: 95%;
        height: 100%;
    }

    .cursos-list li {
        display: grid;
        padding: 0 0px;
        text-align: center;
        width: 50%;
        font-size: 0.78em;
    }

    #campus {
        font-size: 0.95em;
    }
}

@media only screen and (min-width: 600px){

    #benefits .list {
        padding-left: 2.5%;
        
    }

    #benefits .list li{
        padding: 5% 0 5%;
    }

    #benefits .list li:first-child{
        padding: 5% 5% 5% 0;
    }

    .cursos-list li {
        width: 33%;
        font-size: 1.2em;
    }

    .centered img {
        width: 96px;
        height: 96px;
    }
}

@media only screen and (min-width: 992px) {
    .cursos-list li {
        width: 33%;
        font-size: 1.2em;
    }

    .centered img {
        width: 128px;
        height: 128px;
    }

    .campus-image {
        width: 95%;
        height: 80%;
    }
}

@media only screen and (min-width: 1200px) {

    #nav {
        font-size: 1.55em;
    }

    #benefits {
        font-size: 1.25em;
    }

    #benefits h2{
        font-size: 2em;
    }

    #benefits .list li {
        padding: 0 0 !important;
        font-size: 1.25em;
    }

    #benefits .list li:first-child {
        padding: 0% 0% 5% 0 !important;
    }

    .campus-image {
        width: 75%;
        height: 85%;
    }

    .cursos-list li{
        width: 25% !important;
    }
}

@media only screen and (min-width: 2560px){
    
    #campus {
        font-size: 1.75em;
    }

    .centered img {
        width: 256px;
        height: 256px;
    }

    .campus-image {
        width: 65% !important;
        height: 55% !important;
    }

    .cursos-list li {
        font-size: 1.1em;
    }
}